<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_acr>
            <general>
                <sender>general</sender>
                <enable_test_mode>0</enable_test_mode>
            </general>
            <mail_log>
                <keep_for>60</keep_for>
            </mail_log>
        </aw_acr>
    </default>
</config>
