<!--@subject {{trans "%store_name: Return Request # %returns_id update" store_name=$store.getFrontendName() returns_id=$returns.getIncrementId()}} @-->
<!--@vars {
"var returns.getManagerName()":"Store Manager",
"var sender_name":"",
"var admin_comment":"",
"var comment":"",
"var returns.increment_id":"Return Id"
} @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro email-information">
        <td>
            <p class="greeting">{{trans "%name," name=$returns.getManagerName()}}</p>
            <p>
                {{trans
                    "Return request #%increment_id has been updated."

                    increment_id=$returns.increment_id
                |raw}}
            </p>
            <p>
                {{trans
                    "Please review this return request within 24 hours, Monday through Friday."
                |raw}}
            </p>
            {{depend admin_comment}}
            <p>
                {{trans "Admin Comment (%name)" name=$sender_name }}:
            </p>
            <table class="message-info">
                <tr>
                    <td>
                        {{var admin_comment}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{depend comment}}
            <p>
                {{trans "Customer Comment"}}:
            </p>
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <p>{{trans 'Please navigate to store admin panel to manage this RMA.'}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}